[submodule "lib/oyunlar/bulmaca"]
	path = lib/oyunlar/bulmaca
	url = https://github.com/beyzanurbirinci/bulmaca.git
[submodule "lib/oyunlar/quiz"]
	path = lib/oyunlar/quiz
	url = https://github.com/beyzanurbirinci/QuizUygulamasi.git
[submodule "lib/oyunlar/kart_eslestirme"]
	path = lib/oyunlar/kart_eslestirme
	url = https://github.com/SnGokceCE/karteslestirme.git
[submodule "lib/oyunlar/ben_kimim"]
	path = lib/oyunlar/ben_kimim
	url = https://github.com/SnGokceCE/benkimim_app.git
[submodule "benkimim_app"]
	path = benkimim_app
	url = https://github.com/SnGokceCE/benkimim_app.git
